<ion-header>
  <ion-toolbar>
      <h6 class="title">
        Reportar Robo Auto
      </h6>
      <ion-buttons slot="start" >
        <ion-button routerLink="/home">
          <ion-icon name="chevron-back-outline" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
 
  <ion-item lines="none">
    <form [formGroup]="this.carService.form" (ngSubmit)="onSubmit()">
      
      <div class ="format_section"  > <ion-label color="success">Datos</ion-label></div>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input  formControlName="name" type="text"></ion-input>
        <ion-label position="floating">Licencia</ion-label>
        <ion-input  formControlName="license" type="text"></ion-input>  
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input  formControlName="phone" type="text"></ion-input>  
        <br>
        <div class ="format_section"> <ion-label color="success">Fecha</ion-label></div>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="2015-01-01" max="2020-12-31" value="2002-09-23T15" formControlName="date" type="text" ></ion-datetime>
        <br>
        <div class ="format_section"> <ion-label color="success" >Auto</ion-label></div>
        <ion-label position="floating">Marca Auto</ion-label>
        <ion-input  formControlName="brand_car" type="text"></ion-input>
        <ion-label position="floating">Modelo Auto</ion-label>
        <ion-input  formControlName="model_car" type="text"></ion-input> 
        <ion-label position="floating">Año Auto</ion-label>
        <ion-input  formControlName="year_car" type="text"></ion-input>  
        <br>
        <div class ="format_section"> <ion-label color="success">Dirección</ion-label></div>
        <ion-label position="floating">Colonia</ion-label>
        <ion-input  formControlName="colony" type="text"></ion-input>
        <ion-label position="floating">Calle</ion-label>
        <ion-input  formControlName="street" type="text"></ion-input> 
        <ion-label position="floating">Numero</ion-label>
        <ion-input  formControlName="number" type="text"></ion-input> 
        <ion-label position="floating">Referencia</ion-label>
        <ion-input  formControlName="reference" type="text"></ion-input>  
    </form>
  </ion-item>

  <div class = "ion-text-center" >
    <ion-button type="submit" shape="round" fill="outline" color="success" (click)="onSubmit()" routerLink="/home">Reportar</ion-button> 
  </div>
  <br>

</ion-content>