<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class = "ion-text-center">
      SecurityPrediction GDL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  
  <div class = "ion-text-center">
    <ion-button shape="round" fill="outline" color="success" routerLink="/report-car">Reportar Robo de Auto</ion-button> 
    </div>
    
    <br>
    <div class = "ion-text-center" >
      <ion-button shape="round" fill="outline" color="success" routerLink="/car-list" >Lista de Robos</ion-button> 
    </div>

    <br>
    <div class = "ion-text-center" >
      <ion-button shape="round" fill="outline" color="success" routerLink="/prediccion" >Predicción de Robos</ion-button> 
    </div>
</ion-content>


